* {
    main-bg:            #11111be6;
    main-fg:            #cdd6f4ff;
    main-br:            #cba6f7ff;
    main-ex:            #f5e0dcff;
    select-bg:          #b4befe80;
    select-fg:          #11111be6;
    separatorcolor:     transparent;
    border-color:       transparent;
}
