* {
    main-bg:            #2d353be6;
    main-fg:            #d3c6aaff;
    main-br:            #a7c080ff;
    main-ex:            #e67e80ff;
    select-bg:          #83c09280;
    select-fg:          #2d353be6;
    separatorcolor:     transparent;
    border-color:       transparent;
}

