* {
    main-bg:            #2e3440e6;
    main-fg:            #eceff4ff;
    main-br:            #81a1c1ff;
    main-ex:            #88c0d0ff;
    select-bg:          #5e81ac80;
    select-fg:          #2e3440e6;
    separatorcolor:     transparent;
    border-color:       transparent;
}

